<section class="menu-comidas">
        <div class="contenedor">
            <h2 class="text-centro">Nuestros platos</h2>

                {{catagolo}} 
                                              
            <div class="limpiar"></div>
            </div>
    </section>
    <!-- Fin de la seccion comidas -->