    <section class="categorias">
        <div class="contenedor">
            <h2 class="text-centro">Categorías</h2>
            <a href="#">
                
                 {{productos}}  
            
            </a>
              
            <div class="limpiar"></div>
        </div>
    </section>